In [45]:
import pandas as pd 
import numpy as np
from pandas_profiling import ProfileReport
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [46]:
df = pd.read_csv("data.csv")

In [47]:
df.head()

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.0,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.0,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.0,0,0,0,1,13,159,98,0
3,1,0.00,1,0.0,0,82,0,0,679,414,651,0
4,1,0.00,2,0.0,0,0,0,1,6,151,126,0

In [48]:
df.shape

(696, 12)

In [49]:
df["fake"].value_counts()

fake
0    348
1    348
Name: count, dtype: int64

In [50]:
df.isnull().sum()

profile pic             0
nums/length username    0
fullname words          0
nums/length fullname    0
name==username          0
description length      0
external URL            0
private                 0
#posts                  0
#followers              0
#follows                0
fake                    0
dtype: int64

In [51]:
x = df.drop("fake",axis = 1)
y = df["fake"]

In [52]:
x

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
0,1,0.27,0,0.0,0,53,0,0,32,1000,955
1,1,0.00,2,0.0,0,44,0,0,286,2740,533
2,1,0.10,2,0.0,0,0,0,1,13,159,98
3,1,0.00,1,0.0,0,82,0,0,679,414,651
4,1,0.00,2,0.0,0,0,0,1,6,151,126
...,...,...,...,...,...,...,...,...,...,...,...
691,1,0.29,1,0.0,0,0,0,0,13,114,811
692,1,0.40,1,0.0,0,0,0,0,4,150,164
693,1,0.00,2,0.0,0,0,0,0,3,833,3572
694,0,0.17,1,0.0,0,0,0,0,1,219,1695
695,1,0.44,1,0.0,0,0,0,0,3,39,68

In [53]:
y

0      0
1      0
2      0
3      0
4      0
      ..
691    1
692    1
693    1
694    1
695    1
Name: fake, Length: 696, dtype: int64

In [54]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [55]:
x_train

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
82,1,0.00,3,0.00,0,70,1,0,227,17303,360
51,1,0.00,2,0.00,0,57,0,0,271,2118,1109
218,1,0.00,0,0.00,0,103,0,0,24,617,272
557,1,0.43,1,0.43,0,0,0,0,0,72,434
485,0,0.44,1,0.00,0,0,0,0,0,8,6
...,...,...,...,...,...,...,...,...,...,...,...
71,1,0.00,1,0.00,0,74,0,0,13,581,568
106,1,0.00,0,0.00,0,122,1,0,205,2756,638
270,1,0.00,3,0.00,0,23,0,1,327,537,1002
435,1,0.00,3,0.00,0,0,0,0,29,122,336
102,1,0.00,3,0.00,0,0,0,1,156,289,222

In [56]:
x_test

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
674,0,0.31,1,0.33,0,0,0,0,0,42,175
314,1,0.88,1,0.00,0,0,0,1,39,8,60
611,1,0.00,2,0.00,0,14,0,0,13,228,346
431,0,0.25,1,0.00,0,0,0,1,0,0,11
552,0,0.46,1,0.00,0,0,0,1,0,332,1333
...,...,...,...,...,...,...,...,...,...,...,...
24,1,0.00,0,0.00,0,0,0,0,148,15338538,61
158,1,0.00,2,0.00,0,12,0,1,8,303,417
388,1,0.33,1,0.33,0,0,0,1,12,48,45
482,0,0.33,1,0.00,0,0,0,0,0,77,747
110,1,0.00,2,0.00,0,23,0,0,6,796,1155

In [57]:
y_train

82     0
51     0
218    0
557    1
485    1
      ..
71     0
106    0
270    0
435    1
102    0
Name: fake, Length: 556, dtype: int64

In [58]:
y_test

674    1
314    1
611    0
431    1
552    1
      ..
24     0
158    0
388    1
482    1
110    0
Name: fake, Length: 140, dtype: int64

## SVM

In [59]:
from sklearn.svm import SVC

In [60]:
from sklearn.metrics import accuracy_score,classification_report

In [61]:
model = SVC()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
acc = accuracy_score(y_test,y_pred)
report = classification_report(y_test,y_pred)

In [62]:
print(acc)

0.5142857142857142

In [63]:
print(report)

              precision    recall  f1-score   support

           0       1.00      0.07      0.13        73
           1       0.50      1.00      0.66        67

    accuracy                           0.51       140
   macro avg       0.75      0.53      0.40       140
weighted avg       0.76      0.51      0.38       140

## XGBOOST

In [64]:
from sklearn.metrics import accuracy_score, classification_report
from xgboost import XGBClassifier

# Initialize the XGBoost Classifier
xgb = XGBClassifier(
    objective='binary:logistic',  # For binary classification; adjust if multiclass
    use_label_encoder=False,      # Disable label encoder to suppress warnings
    eval_metric='logloss',        # Evaluation metric; adjust as needed
    random_state=42               # For reproducibility
)

# Train the XGBoost model on the training data
xgb.fit(x_train, y_train)

# Make predictions on the test set
y_pred = xgb.predict(x_test)

# Calculate accuracy
acc = accuracy_score(y_test, y_pred)
print('The accuracy obtained by the XGBoost classifier is :')
print(acc)

# Generate and print the classification report
report = classification_report(y_test, y_pred)
print('The classification report for XGBoost classifier is as follows:')
print(report)

The accuracy obtained by the XGBoost classifier is :
0.9142857142857143
The classification report for XGBoost classifier is as follows:
              precision    recall  f1-score   support

           0       0.89      0.96      0.92        73
           1       0.95      0.87      0.91        67

    accuracy                           0.91       140
   macro avg       0.92      0.91      0.91       140
weighted avg       0.92      0.91      0.91       140

C:\Users\0945\AppData\Roaming\Python\Python311\site-packages\xgboost\core.py:158: UserWarning: [15:35:53] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0c55ff5f71b100e98-1\xgboost\xgboost-ci-windows\src\learner.cc:740:
Parameters: { "use_label_encoder" } are not used.

  warnings.warn(smsg, UserWarning)

## Naive Bayes

In [65]:
from sklearn.metrics import accuracy_score, classification_report
from sklearn.naive_bayes import GaussianNB

# Initialize the Gaussian Naive Bayes classifier
gnb = GaussianNB()

# Train the Naive Bayes model on the training data
gnb.fit(x_train, y_train)

# Make predictions on the test set
y_pred = gnb.predict(x_test)

# Calculate accuracy
acc = accuracy_score(y_test, y_pred)
print('The accuracy obtained by the Naive Bayes classifier is :')
print(acc)

# Generate and print the classification report
report = classification_report(y_test, y_pred)
print('The classification report for Naive Bayes classifier is as follows:')
print(report)

The accuracy obtained by the Naive Bayes classifier is :
0.6642857142857143
The classification report for Naive Bayes classifier is as follows:
              precision    recall  f1-score   support

           0       0.91      0.40      0.55        73
           1       0.59      0.96      0.73        67

    accuracy                           0.66       140
   macro avg       0.75      0.68      0.64       140
weighted avg       0.76      0.66      0.64       140